.wrapper{
    position: relative;
}

.carouselWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.carouselItem{
    width: 22vw;
    height: 15vw;
    margin: 0 1.5vw;
    object-fit: cover;
    position: relative;
    top: 0;
    transition: 0.3s top;
    cursor: pointer;
}

.carouselItem:hover{
    top: -10px
}

.pastProjectsSign{
    position: absolute;
    z-index: 900;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -3vw;
    left: 10vw;
    height: 8vw;
    width: 8vw;
}
.pastProjectsSign img{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.pastProjectsSign span{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.shader{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
}

.pastProjectsSign span{
    z-index: 900;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .pastProjectsSign{
        height: 9vw;
        width: 9vw;
    }
}
