.title{
    padding-top: 6vw;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 4rem;
}

.subtitle{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1vw;
}

.buttonWrapper{
    padding: 4vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .subtitle{
        font-size: 1.8rem;
        padding: 1.5vw 20% 0 20%;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .title{
        padding-top: 30vw;
        font-size: 4rem;
    }
    
    .subtitle{
        font-size: 1.8rem;
        padding: 2vw 10% 0 10%;
    }
    
    .buttonWrapper{
        padding: 8vw 0 15vw 0;
    }
}