.workflow-item:nth-of-type(even){
    transform: translateY(-40px);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
}

.workflow-item:nth-of-type(odd){
    transform: translateY(40px);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
}

.workflow-seperator{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}