.mainFooter{
    border-top: 4px solid var(--primary-color);
    padding: 1vw 0;
}

.mainFooter img{
    width: 6vw;
    height: 6vw;
    object-fit: contain;
    object-position: center;
}

.mainFooter p{
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
}

.mainFooter p span{
    font-size: 1.5rem;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
 
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .mainFooter img{
        width: 7vw;
        height: 7vw;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .mainFooter img{
        width: 12vw;
        height: 12vw;
    }
}