.section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5vw 0;
}

.imgWrapper{
    display: flex;
    justify-content: flex-start;
    padding-right: 15vw;
}
.imgWrapper img{
    opacity: 50%;
    width: 20vw;
    height: 40vw;
    object-fit: contain;
}

.contentWrapper{
    padding-left: 15vw;
    padding-top: 2vw;
    width: 40vw;
}

.contentWrapper h1{
    font-size: 5rem;
    line-height: 120%;
}

.contentWrapper h1 span{
    color: var(--primary-color);
}

.section p{
    margin-top: 1vw;
    font-size: 1.7rem;
    padding-right: 20%;
    line-height: 200%;
    padding-bottom: 4vw;
}

.point{
    display: flex;
    align-items: center;
    margin: 1vw 0;
}

.point img{
    width: 4vw;
    height: 4vw;
}

.point span{
    margin-left: 1vw;
    font-size: 2rem;
    font-weight: 500;
}

/* MEDIUM LAPTOP STYLES */
@media only screen and (min-width: 1401px) and (max-width: 1900px){
    
    .imgWrapper{
        padding-right: 15vw;
    }
    .imgWrapper img{
        width: 20vw;
        height: 40vw;
    }
    
    .contentWrapper{
        padding-left: 15vw;
        width: 45vw;
    }
    
    .section p{
        margin-top: 2vw;
        font-size: 1.6rem;
        padding-bottom: 2vw;
    }
    
    .point img{
        width: 5vw;
        height: 5vw;
    }
    
    .point span{
        font-size: 1.8rem;
    }
}