.section{
    position: relative;
    padding: 10vw 0;
    margin: 5vw 0;
}

.bgImg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 10%;
    z-index: -1;
}

.tagline{
    font-size: 5rem;
    text-align: center;
    line-height: 110%;
}

.tagline span{
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 7rem;
}

.section p{
    margin-top: 2vw;
    padding: 0 32%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 180%;
}

.ctaButton{
    margin-top: 2.5vw;
}