.title{
    padding-top: 4vw;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 3rem;
}

.subtitle{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1vw;
}

.tacWrapper{
    padding: 4vw 0 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctaButton{
 margin-bottom: 4vw;
}

.tac{
    padding: 0.5vw;
    display: inline-block;
    position: relative;
    width: 40%;
    height: 25vw;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .subtitle{
        font-size: 1.8rem;
        padding-top: 1.5vw;
    }
    
    .tacWrapper{
        padding: 4vw 0 3vw 0;
    }
    
    .ctaButton{
     margin-bottom: 4vw;
    }
    
    .tac{
        width: 50%;
        height: 40vw;
        overflow-y: scroll;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    }
    
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .title{
        padding: 30vw 5% 0 5%;
    }
    
    .subtitle{
        font-size: 2rem;
        padding: 2vw 5% 0 5%;
    }
    
    .tacWrapper{
        padding: 8vw 0 4vw 0;
    }
    
    .ctaButton{
     margin-bottom: 15vw;
    }
    
    .tac{
        padding: 1vw;
        width: 80%;
        height: 80vw;
    }
}