.stepsWrapper{
    margin-top: 5vw;
    display: inline-flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 1vw 10% 1.5vw 10%;
}

.circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-text-color);
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
    width: 3vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.filled .circle{
    background-color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    color: var(--secondary-text-color);
}

.text{
    width: 5vw;
    text-align: center;
    font-weight: bold;
    white-space: pre;
}

.connector{
    display: inline-block;
    width: var(--connector-width);
    height: 3px;
    background-color: var(--primary-color);
    opacity: 0.5;
}

.connector.filled{
    opacity: 1;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .stepsWrapper{
        margin-top: 8vw;
        padding: 1.5vw 10% 2.25vw 10%;
        width: 60%;
    }
    .circle{
       font-size: 1.1rem;
       width: 5vw;
    }
    .text{
        width: 10vw;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .stepsWrapper{
        padding: 2.5vw 10% 5vw 10%;
        margin-top: 30vw;
        width: 90%;
    }
    .circle{
        font-size: 1.4rem;
        width: 8vw;
     }

     .text{
        width: 15vw;
     }
}